* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  color: #cc085a;
  font-family: 'Poppins';
  overflow-x: hidden;
}

.glassmorphBG {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.App {
  width: 80%;
  margin: auto;
  margin-top: -90vh;
  height: 80vh;
  /* margin-bottom: 10vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: +9999;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}

p,
h3 {
  text-align: center;
}

p {
  font-size: 3rem;
  font-weight: 900;
  margin: 50px 0px;
}

h3,
h4 {
  font-size: 2.5rem;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  flex-direction: column;
}

.counter {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px 0px;
}

.counter Loader,
.counter div {
  margin-left: 25px;
  font-size: 2.5rem;
  font-weight: 600;
}

.submitBtn {
  width: 140px;
  height: 40px;
  border: 1px solid #cc085a;
  outline: none;
  background-color: #cc085a;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.hiddenText {
  display: none;
}

form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  margin: 10px;
  width: 250px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  color: #cc085a;
  font-weight: 800;
  border: 2px solid #cc085a;
}